<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="RobotSystem" type="system">
        <hardware>
            <plugin>diffdrive_arduino/DiffDriveArduino</plugin>
            <param name="left_wheel_name">left_wheel_joint</param>
            <param name="right_wheel_name">right_wheel_joint</param>
            <param name="loop_rate">30</param>
            <param name="host">10.5.5.21</param> <!-- IP-адрес вашего UDP-устройства -->
            <param name="port">5000</param> <!-- Порт вашего UDP-устройства -->
            <param name="enc_counts_per_rev">150</param>
        </hardware>

        <!-- Ведущие колеса (передние) -->
        <joint name="left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <!-- Задние колеса (только для визуализации) -->
        <joint name="rear_left_wheel_joint"/>
        <joint name="rear_right_wheel_joint"/>
        
    </ros2_control>
</robot>

